*.iml
*.php
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/api
/Documentacion
/captures
.externalNativeBuild
.cxx
local.properties
/app/hosting/
/app_
updates/
/keystore/
keystore
keystore/
/app/public_html/.vscode/ftp-sync.json

