*.iml
*.php
.gradle/
.idea/
app/.gradle/
app/.vscode/
api/
assets/
auth/
build/
cgi-bin/
config/
dashboard/
debug/
dist/
documentacion/
gradle/
home/
includes/
keystore/
loading/
pages/
stats/
updates/
vendor/
.htaccess
.user.ini
build.gradle.kts
composer.json
composer.lock
config.php
error-404.php
error-php.log
gradle.properties
gradlew
gradlew.bat
index.html
index.php
index2.html
index_.php
local.properties
login.php
router.php
routes.php
script.js
settings.gradle.kts
src.tar.gz
styles.css
vendor.rar
version.json



