RewriteEngine On

# Ocultar la extensión .php en las URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Redirigir todas las solicitudes a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Manejo de errores personalizados
ErrorDocument 404 /error-404.php
